<!DOCTYPE html>
<html>
<head>
    <title>Auto Bloom</title>
    <style>
        #map {
            height: 400px;
            width: 80%;
            margin: auto;
        }
    </style>
    <script src="/coords.js" type="text/javascript"></script>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz2WIXFzsHwNw1L8YN7z0BXG8NcJ4iuEI&callback=initMap"></script>
</head>
<body>
<main class="container-fluid p-0">
<img id="loadingGif" src="/assets/coolest_loading_animation_1.gif" style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);" width="300" height="300">

    <section class="home-hero py-4">
        <div class="container">
            <section class="col-md-12 col-12 text-md-left text-center">
                <h1>Welcome to Auto Bloom</h1>
                <p>See what native plants you could be growing in your garden this year!</p>
                <button class="btn btn-dark"><a class="nav-link" href="/login">Login</a></button>
                <button class="btn btn-dark"><a class="nav-link" href="/register">Sign Up</a></button>
                <button class="btn btn-dark"><a class="nav-link" href="https://github.com/Auto-Bloom/project/releases/tag/v1.0.0">Release Notes</a></button>
            </section>
            <center><h3>Please Select Your Region</h3></center>
            <div id="map"></div>
        </div>
    </section>
</main>
<script>
function initMap() {
    var mapOptions = {
        zoom: 4,
        center: {lat: 37.0902, lng: -95.7129},
        mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var colors = {
        'Northeast': '#ff4da6',
        'Midwest': '#4682B4',
        'South': '#32CD32',
        'West': '#FFD700',
        'Alaska': '#FFD700'
    };

    Object.keys(regionCoords).forEach(function(regionKey) {
        Object.keys(regionCoords[regionKey]).forEach(function(stateKey) {
            var statePoints = regionCoords[regionKey][stateKey].map(function(coord) {
                return new google.maps.LatLng(coord.lat, coord.lng);
            });

            var polygon = new google.maps.Polygon({
                paths: statePoints,
                strokeColor: colors[regionKey],
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: colors[regionKey],
                fillOpacity: 0.35,
                map: map
            });

            polygon.addListener('click', function() {
                var gif = document.getElementById('loadingGif');
                gif.style.display = 'block'; 
                setTimeout(function() {
                    window.location.href = `/region/${regionKey}`; 
                    gif.style.display = 'none';
                }, 3000);
            });

            polygon.addListener('mouseover', function() {
                this.setOptions({fillColor: colors[regionKey]});
            });

            polygon.addListener('mouseout', function() {
                this.setOptions({fillColor: colors[regionKey]});
            });
        });
    });
}


</script>
</body>
</html>
